@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
.landing-page {
  background-color: #0F172A;
}
.wrapper-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.header-amplify {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header.header-primary.header-amplify > * {
  font-family: "Open Sans", sans-serif;
  /* text-transform: capitalize; */
}
.wrapper-image {
  height: 100%;
  width: 100%;
}
.image-ad {
  width: 100%;
  height: auto;
  max-height: 100%;
}

@media only screen and (max-width: 768px) {
  .wrapper-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .wrapper-header .header.header-primary {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1248px) {
  .wrapper-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
