/* red checkbox */
.checkboxRed-label input:checked ~ .checkmark {
  background-color: red;
  color: var(--font-color);
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.checkboxRed-label .checkmark::after {
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  position: absolute;
  left: 50%;

  /* transform: translate(-50%); */
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.checkboxRed-label .checkmark {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: red;
  color: var(--font-color);
  border-radius: 50%;
  top: 0;
  left: 0;
  outline: none;
  border: none;
}
.checkboxRed-label:hover input ~ .checkmark {
  background-color: rgb(177, 14, 14);
}
