.loader,
.loader:after {
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.loader {
  font-size: 10px;
  border-top: 1.1em solid rgba(251, 218, 218, 0.2);
  border-right: 1.1em solid rgba(251, 218, 218, 0.2);
  border-bottom: 1.1em solid rgba(251, 218, 218, 0.2);
  border-left: 1.1em solid #ffc8c8;

  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
