.autocomplete {
  position: relative;
  width: 100%;
  height: 100%;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.search-box {
  padding: 1rem;
  border-radius: 20px;
  border: 2px solid black;
  height: 100%;
  width: 100%;
}
.search-box:focus {
  border-color: #0366d6;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  outline: none;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  /* width: 100%; */
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:focus {
  background-color: #e9e9e9;
}
.wrapper-search {
  width: 50%;
  margin: 0 auto;
  height: 60%;
}
.fas.fa-arrow-left {
  display: none;
}
@media only screen and (max-width: 768px) {
  .search-box {
    border: none;
    padding-left: 55px;
  }

  .search-box:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
