@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://kaaliui.netlify.app/kaali.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.App {
  font-family: sans-serif;

  height: 100vh;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}
.navbar {
  justify-content: space-between;
  background-color: whitesmoke;
  width: 100%;
  position: fixed;
  z-index: 5;
  height: 4rem;
  box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
  /* see the classNames for if you feel some properties are missing */
}
.nav-actions {
  width: 100%;
}

.fas.fa-sign-in-alt,
.far.fa-heart {
  font-size: 1.6rem;
  position: relative;
  width: 45px;
}
.fas.fa-shopping-cart {
  font-size: 1.6rem;
  width: 55px;
}
.fa.fa-search {
  font-size: 1.6rem;
  position: relative;
}
.text-white {
  color: var(--font-color);
}
.notification-count {
  width: 28px;
  left: 45%;
}
.nav-menu {
  height: 100%;
}
.nav-menu-item {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

.nav-menu-items {
  height: 100%;
}
.nav-menu-items .nav-menu-item:hover {
  cursor: pointer;
}

.brand-logo-amplify {
  width: 180px;
  height: 80%;
  margin-left: 10px;
}
.fas.fa-bars.hamburger {
  display: none;
}
.cart-count {
  left: 41%;
}
.nav-mob-menu {
  display: none;
}

.container-amplify {
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  overflow-y: auto;
  overflow-x: hidden;
}
.wrapper-header {
  border: 1px solid red;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 3rem;
}
.wrapper-image {
  height: 100%;
  width: 100%;
}
.image-ad {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.wrapper-header .header.header-primary {
  color: white;
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 0;
}
.header.header-primary > div {
  font-family: "Montserrat", sans-serif;
  white-space: pre-line;
  color: var(--font-color);
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.search-box {
  padding: 1rem;
  border-radius: 20px;
  border: 2px solid black;
  height: 100%;
  width: 100%;
}
.search-box:focus {
  border-color: #0366d6;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

  outline: none;
}

.autocomplete {
  position: relative;
  width: 100%;
  height: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  /* width: 100%; */
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.wrapper-search {
  width: 50%;
  margin: 0 auto;
  height: 60%;
}
.fas.fa-arrow-left {
  display: none;
}
.carousel:hover {
  cursor: pointer;
}
.Slide {
  /* transition: opacity 200ms ease; */
  animation: slide-in-right;
  animation-fill-mode: forwards;
}
.Slide[aria-hidden="true"] {
  opacity: 0;
  transition-delay: 200ms;
  z-index: -1;
}

/* Desktop SideBar */
.grid-sidebar {
  display: grid;
  grid-template-columns: 280px 1fr;
}
.sidebar {
  position: fixed;
  width: 280px;
  box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
  height: 100vh;
  overflow-x: hidden;
  top: 4rem;
  overflow-y: auto;
  z-index: 6;

  /* Card */
}
.card.card-ecommerce .card-image-wrapper {
  background: #cdcdcd;
}
.card-ecommerce .fa-heart {
  background-color: #eee;
}
.product-price-details {
  height: 32px;
}
.card-ecommerce .tag.tag-bestSeller {
  background-color: var(--red);
}
.card-ecommerce:hover {
  cursor: pointer;
}

.card-ecommerce .btn.btn-primary {
  width: 100%;
  margin: 0;
}

.card-ecommerce .header,
.card-title {
  margin-bottom: 0;
}

.card-ecommerce .card-subtitle {
  font-size: 1rem;
}
@media only screen and (max-width: 768px) {
  .fas.fa-bars.hamburger {
    display: block;
    padding: 0;
    padding-left: 10px;
  }
  .navbar .fas.fa-bars.hamburger,
  .icon-close {
    color: black;
    font-size: x-large;
  }

  .nav-mob-menu {
    background-color: white;
    width: 250px;
    height: 100vh;
    box-shadow: 0 3px 20px 20px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 5;
    top: 0;
    left: -100%;
    transition: 850ms;
  }

  .nav-mob-menu.active {
    left: 0;
    transition: 350px;
  }

  .nav-mob-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;

    color: black;
  }
  .nav-mob-menu-item a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 90%;
    padding-left: 10px;
  }

  .nav-mob-menu-items {
    width: 100%;
  }

  .icon-close-wrapper {
    width: 100%;
    display: flex;

    justify-content: flex-end;
    position: relative;
    right: 10px;
  }
  .nav-mob-menu-item > .icon-close {
    font-size: 2rem;
    cursor: pointer;
  }

  .nav-mob-menu-item i {
    margin-right: 10px;
  }

  .container-sidebar-desktop {
    display: none;
  }
  .grid-sidebar {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .container-main {
    padding: 0;
  }
  .carousel-button-right {
    right: 10px;
  }
  .carousel-button-left {
    left: 10px;
  }

  .wrapper-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .wrapper-header .header.header-primary {
    font-size: 2rem;
  }
  .nav-menu-item .font-sm {
    display: none;
  }
  .wrapper-search {
    display: none;
  }

  .wrapper-search.wrapper-search-active {
    all: unset;
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 12;
  }
  .wrapper-search.wrapper-search-active > .fas.fa-arrow-left {
    display: block;
    position: absolute;
    z-index: 13;
    font-size: 1.4rem;
    left: 10px;
    top: 20px;
  }
  .wrapper-search.wrapper-search-active > .fas.fa-arrow-left:hover {
    cursor: pointer;
  }

  .search-box {
    border: none;
    padding-left: 55px;
  }

  .search-box:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .cart-count {
    font-size: 12px;
    left: 35%;
  }
  .notification-count {
    left: 40%;
    font-size: 12px;
  }

  .nav-menu {
    margin: 0;
    width: 100%;
    justify-content: flex-end;

    /* margin-top: 20px; */
  }
  .nav-menu-item {
    padding: 0.5rem;
  }

  .brand-logo-amplify {
    /* width: 80px;
    height: auto; */
    display: none;
  }

  .navbar {
    align-items: baseline;
  }
  .nav-actions {
    width: unset;
  }

  .nav-menu-link.search {
    margin-right: 40px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .carousel {
    width: 100%;
    height: 190px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1248px) {
  .carousel {
    width: 100%;
    height: 280px;
  }
  .wrapper-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 1248px) {
  .carousel {
    height: 480px;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
