@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://kaaliui.netlify.app/kaali.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.App {
  font-family: sans-serif;

  height: 100vh;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-white {
  color: var(--font-color);
}

.text-black {
  color: black;
}

.container-amplify {
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  overflow-y: auto;
  overflow-x: hidden;
}
.wrapper-header {
  border: 1px solid red;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 3rem;
}
.wrapper-image {
  height: 100%;
  width: 100%;
}
.image-ad {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.wrapper-header .header.header-primary {
  color: white;
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 0;
}
.header.header-primary > div {
  font-family: "Montserrat", sans-serif;
  white-space: pre-line;
  color: var(--font-color);
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.search-box {
  padding: 1rem;
  border-radius: 20px;
  border: 2px solid black;
  height: 100%;
  width: 100%;
}
.search-box:focus {
  border-color: #0366d6;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

  outline: none;
}

.autocomplete {
  position: relative;
  width: 100%;
  height: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  /* width: 100%; */
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.wrapper-search {
  width: 50%;
  margin: 0 auto;
  height: 60%;
}
.fas.fa-arrow-left {
  display: none;
}



/* Desktop SideBar */
.grid-sidebar {
  display: grid;
  grid-template-columns: 280px 1fr;
}
.sidebar {
  position: fixed;
  width: 280px;
  box-shadow: 10px 0 5px -2px rgb(0 0 0 / 20%);
  height: calc(100vh - 4rem);
  overflow-x: hidden;
  top: 4rem;
  overflow-y: auto;
  z-index: 6;
}

.card-ecommerce .icon-heart {
  pointer-events: none;
}
.card.card-ecommerce .card-image-wrapper {
  background: #cdcdcd;

  width: 100%;
  height: 280px;
}
.card-ecommerce .fa-heart {
  background-color: #eee;
}
.product-price-details {
  height: 52px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card-ecommerce .tag.tag-bestSeller {
  background-color: var(--red);
}
.card-ecommerce:hover {
  cursor: pointer;
}

.card-ecommerce .btn.btn-primary {
  width: 100%;
  margin: 0;
}

.card-ecommerce .header,
.card-title {
  margin-bottom: 0;
}

.card-ecommerce .card-subtitle {
  font-size: 1rem;
}

.card.card-ecommerce .card-product-discount {
  color: var(--red);
}
.card.card-ecommerce:hover {
  box-shadow: 0 3px 20px 20px rgb(0 0 0 / 20%);
  /* transform: translateY(2px); */
}

.btn-disabled {
  opacity: 0.5;
}

.modal-bg,
.modal-bg-active {
  all: unset;
  appearance: none;
}
.container-prod-details {
  padding: 1rem;
}

.container-cart-details {
  max-width: 980px;
  margin: auto;
  padding: 0 10px 16px;
  min-height: 320px;
  color: #282c3f;
}

.wrapper-left-block {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 1px solid var(--red);
  padding-top: 32px;
  min-height: 250px;
  /* background: red; */
}
.wrapper-right-block {
  vertical-align: top;
  display: inline-block;
  width: 25%;
  padding: 24px 0 0 16px;
  position: fixed;
}
.itemCart-buyNow {
  margin: 0;
  width: 100%;
  margin-top: 32px;
}
.btn-remove-from-cart:hover {
  cursor: pointer;
}
.itemCart-priceDetails-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 14px;
}
.offers-image-wrapper {
  width: 30px;
}
.text-smallest,
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.text-upper {
  text-transform: uppercase;
}
.container-prod-details-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* background-color: red; */
}
.card-itemCart-container {
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}
.btn-remove-from-cart {
  position: absolute;
  right: 5px;
  top: 2px;
}
.h-auto {
  height: auto;
}
.h-100 {
  height: 100%;
}
.card-itemCart-image-wrapper {
  width: 200px;
}
.card-content-ecommerce-product-details {
  /* background-color: blue; */
  padding-left: 4rem;
  padding-top: 1rem;
}

.btn-round {
  height: 24px;
  width: 24px;
  border-radius: 2px;
  font-weight: bolder;
  /* width: inherit; */
  outline: none;
  border: 1px solid var(--red);
  margin: 0.5rem;
  background-color: var(--red);
  color: var(--font-color);
  position: relative;
}

.sign-minus {
  /* border: 1px solid var(--font-color); */
  height: 2.2px;
  width: 8px;
  background-color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.card-itemCart-quantity-details .btn-round:hover {
  cursor: pointer;
  filter: brightness(90%);
}
.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 1.2rem;
}
.fs-3 {
  font-size: 1.5rem;
}
.badge-rating {
  line-height: 30px;
  display: inline-block;
  color: #fff;
  padding: 2px 16px 2px 16px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
  background-color: #388e3c;
  height: 32.3px;
}
.product-discount {
  color: var(--red);
}
.w-100 {
  width: 100%;
}
.green {
  color: var(--green);
}
.red {
  color: var(--red);
}
.f-wrap {
  flex-wrap: wrap;
}

.wrapper-free-delivery {
  display: flex;
  align-items: center;
}
.wrapper-image-free-delivery {
  width: 60px;
  height: 100%;
}
.image-free-delivery {
  height: auto;
  width: 100%;
}
.btn-wrapper-prod-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 60px;
  /* background-color: red; */
}
.primary-add-to {
  max-width: none;
  width: 100%;
  margin: 0;
  height: 100%;
}
.product-selling-price {
  text-decoration: line-through;
}

.avatar-letter {
  height: 30px;
  width: 30px;
}

.shade-red {
  background-color: var(--red);
}

/* Checkboxes */

.checkboxBlack-label input:checked ~ .checkmark {
  background-color: #282c3f;
  color: var(--font-color);
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.checkboxBlack-label .checkmark::after {
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  position: absolute;
  left: 50%;

  /* transform: translate(-50%); */
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.checkboxBlack-label .checkmark {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: #282c3f;
  color: var(--font-color);
  border-radius: 50%;
  top: 0;
  left: 0;
  outline: none;
  border: none;
}
.checkboxBlack-label:hover input ~ .checkmark {
  background-color: #101429;
}

/* green checkbox */

.checkboxGreen-label input:checked ~ .checkmark {
  background-color: var(--green);
  color: var(--font-color);
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.checkboxGreen-label .checkmark::after {
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  position: absolute;
  left: 50%;

  /* transform: translate(-50%); */
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.checkboxGreen-label .checkmark {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: var(--green);
  color: var(--font-color);
  border-radius: 50%;
  top: 0;
  left: 0;
  outline: none;
  border: none;
}
.checkboxGreen-label:hover input ~ .checkmark {
  background-color: darkgreen;
}

/* red checkbox */
.checkboxRed-label input:checked ~ .checkmark {
  background-color: red;
  color: var(--font-color);
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.checkboxRed-label .checkmark::after {
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  position: absolute;
  left: 50%;

  /* transform: translate(-50%); */
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.checkboxRed-label .checkmark {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: red;
  color: var(--font-color);
  border-radius: 50%;
  top: 0;
  left: 0;
  outline: none;
  border: none;
}
.checkboxRed-label:hover input ~ .checkmark {
  background-color: rgb(177, 14, 14);
}

/* blue checkbox */
.checkboxBlue-label input:checked ~ .checkmark {
  background-color: var(--blue);
  color: var(--font-color);
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.checkboxBlue-label .checkmark::after {
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  position: absolute;
  left: 50%;

  /* transform: translate(-50%); */
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.checkboxBlue-label .checkmark {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: var(--blue);
  color: var(--font-color);
  border-radius: 50%;
  top: 0;
  left: 0;
  outline: none;
  border: none;
}
.checkboxBlue-label:hover input ~ .checkmark {
  background-color: blue;
}

/* white checkbox */

.checkboxWhite-label input:checked ~ .checkmark {
  background-color: rgb(133, 133, 133);
  color: #282c3f;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 1px solid rgb(133, 133, 133);
}
.checkboxWhite-label .checkmark::after {
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  position: absolute;
  left: 50%;

  /* transform: translate(-50%); */
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.checkboxWhite-label .checkmark {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: white;
  color: #282c3f;
  border-radius: 50%;
  top: 0;
  left: 0;
  outline: none;
  border: 1px solid rgb(133, 133, 133);
}
.checkboxWhite-label:hover input ~ .checkmark {
  background-color: rgb(133, 133, 133);
}

.checkboxRegular-label {
  width: 16px;
  height: 16px;
}
.checkboxRegular-label input:checked ~ .checkmark {
  background-color: var(--red);
}
.checkboxRoundRadio-label .checkmark {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #fff;
  color: #282c3f;
  border-radius: 50%;
  top: 0;
  left: 0;
  outline: none;
  border: 1px solid rgb(133, 133, 133);
}
.checkboxRoundRadio-label input:checked ~ .checkmark {
  background-color: #fff;
  color: #282c3f;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border: 1px solid rgb(133, 133, 133);
}

.checkboxRoundRadio-label .checkmark::after {
  width: 100%;
  height: 100%;
  border: solid var(--red);
  border-width: 5px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.color-palette {
  height: 40px;
}
/* Snackbar */

.alert-wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 400px;
  z-index: 15;
}
.alert-content {
  animation: SlideLeft 0.4s;
  animation-fill-mode: forwards;
}

.alert-content.exit {
  animation: SlideRight 0.4s;
  animation-fill-mode: forwards;
}
.sparkle-green {
  color: var(--status-available-background);
}

/* Slider */
.slider {
  appearance: none;
  /* appeareance : none to override default css styles */
  height: 10px;
  border-radius: 10px;
  background-color: #d3d3d3;
  outline: none;
  opacity: 0.8;
  transition: opacity 200ms;
  width: 200px;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--red);
  border-radius: 50%;
}

/* sort by */
.container-sort {
  /* display: flex;
  justify-content: flex-end; */
}
.sort-sortBy {
  padding: 9px 14px;
  font-size: 14px;
  color: #282c3f;
  cursor: pointer;
  position: relative;
  width: 255px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d4d5d9;
  position: relative;
}

.wrapper-sortBy-options {
  position: absolute;
  width: 100%;
  left: 0;
  top: 110%;
  padding: 12px 12px 0 12px;
  background-color: #fff;
  z-index: 11;
  opacity: 0;
}

.wrapper-sortBy-options.wrapper-sortBy-options-active {
  transform: translateY(10%);
  opacity: 1;
  transition: transform 200ms ease-in, opacity 200ms ease-in;
}

.container-sortBy-mobile {
  display: none;
}
/* out of stock */
.out-of-stock {
  opacity: 0.5;
  pointer-events: none;
}
.clear-all:hover {
  cursor: pointer;
}

.wrapper-loading {
  width: 70px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* form */
.form {
  all: unset;
}
.form-title {
  color: black;
}

.form .input {
  color: black;
}
.form label {
  color: gray;
  border-bottom-color: gray;
}

.form .input-password {
  padding-bottom: 2rem;
}
.form-container {
  border: none;
  padding: 1rem 0rem;
}

.form-container .btn.btn-primary.btn-input {
  width: 40%;
}

.form .form-container .form-row {
  margin-bottom: 1.4rem;
}

.input:invalid {
  border-bottom: 1px solid var(--red);
}

.wrapper-login .banner-login {
  max-width: 480px;
  height: auto;
}
.loader-top {
  height: 3px;
  background-color: var(--red);
}

.border-primary {
  border: 2px solid var(--red);
  border-radius: 5px;
}

.wrapper-svg-wave {
  max-width: 100%;
  position: fixed;
  overflow: hidden;
  bottom: -4px;
  left: 0;
  right: 0;
  z-index: -11;
}

/* .span-login, .span-signup {
  width:
}s */
.span-login:hover,
.span-signup:hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .container-sidebar-desktop {
    display: none;
  }
  .grid-sidebar {
    display: block;
  }

  .card.card-ecommerce .card-content-ecommerce > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
  }
  .card.card-ecommerce .card-image-wrapper {
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .alert-wrapper {
    right: 0;
    top: 4rem;
    width: 100%;
    padding: 1rem;
  }
  .wrapper-image-free-delivery {
    width: 40px;
  }
  .features-product {
    font-size: inherit;
  }

  .btn-outer-wrapper-prod-detail {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 21;
    width: 100%;
    margin: 0;
    left: 0;
  }

  .btn-wrapper-prod-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .sort-sortBy {
    display: none;
  }

  .container-sortBy-mobile {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  .wrapper-sortBy-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  #btn-modal-close {
    font-size: 2rem;
  }

  .circle {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(219, 215, 215, 0.514);
  }
}

@media only screen and (max-width: 768px) {
  .container-main {
    padding: 0;
  }

  .wrapper-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .wrapper-header .header.header-primary {
    font-size: 2rem;
  }

  .search-box {
    border: none;
    padding-left: 55px;
  }

  .search-box:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .cart-count {
    font-size: 12px;
    left: 35%;
  }
  .notification-count {
    left: 35%;
    font-size: 12px;
  }
  /* .nav-menu-link.search {
    margin-right: 40px;
  } */
  .container-cart-details-grid {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
  }
  .card-content-ecommerce-product-detials {
    padding-left: 0;
  }
  .btn {
    max-width: none;
  }

  .wrapper-left-block,
  .wrapper-right-block {
    width: 100%;
    padding: 0.5rem;
    border: none;
    position: inherit;
  }

  .wrapper-right-block {
    margin-top: 1rem;
  }

  .itemCart-buyNow {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
  }
  .container-amplify {
    height: calc(100vh - 8rem);
  }
  .container-prod-details-grid {
    grid-template-columns: 1fr;
  }
  .card-content-ecommerce-product-details {
    padding: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1248px) {
  .wrapper-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 120%;
  }
}
