.grid-sidebar {
  display: grid;
  grid-template-columns: 280px 1fr;
}
.sidebar {
  position: fixed;
  width: 280px;
  box-shadow: 10px 0 5px -2px rgb(0 0 0 / 20%);
  height: calc(100vh - 4rem);
  overflow-x: hidden;
  top: 4rem;
  overflow-y: auto;
  z-index: 6;
}
.clear-all:hover {
  cursor: pointer;
}

.container-sortBy-mobile {
  display: none;
}

/* Badge */
.card-ecommerce .tag.tag-bestSeller {
  background-color: var(--kaali-danger);
}

/* sortBy Desktop */
.sort-sortBy {
  padding: 9px 14px;
  font-size: 14px;
  color: #282c3f;
  cursor: pointer;
  position: relative;
  width: 255px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d4d5d9;
  position: relative;
}

.wrapper-sortBy-options {
  position: absolute;
  width: 100%;
  left: 0;
  top: 110%;
  padding: 12px 12px 0 12px;
  background-color: #fff;
  z-index: 11;
  display: none;
}

.wrapper-sortBy-options.wrapper-sortBy-options-active {
  transform: translateY(10%);
  display: block;
  transition: transform 200ms ease-in, display 200ms ease-in;
}
.checkboxRoundRadio-label input:checked ~ .checkmark::after {
  display: none;
}

.checkboxRoundRadio-label .checkmark {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #fff;
  color: #282c3f;
  border-radius: 50%;
  top: 0;
  left: 0;
  outline: none;
  border: 1px solid rgb(133, 133, 133);
}

.checkmark span {
  display: none;
}


.checkboxRoundRadio-label .checkmark-active span {
  width: 100%;
  background-color: #fff;
  height: 100%;
  border: solid var(--kaali-danger);
  border-width: 5px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  display: block;
  left: 0;
}


@media only screen and (max-width: 480px) {
  .container-sortBy-mobile {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .container-main {
    padding: 0;
  }
  .grid-sidebar {
    display: block;
  }

  .container-sidebar-desktop {
    display: none;
  }
}
